// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

@import 'setting';
@import 'mixins';
@import 'resources';

@import 'sencha-touch/extmcp';
@import 'sencha-touch/extmcp/all';

@import 'utils';
@import 'core';
@import 'content/header';
@import 'content/ids';
@import 'content/icons';
@import 'content/content';
@import 'content/connecting';
@import 'content/profile';
@import 'content/buttons';
@import 'content/message';
@import 'content/bottom';
@import 'content/rating';
@import 'content/leave';
@import 'views/user_menu';

// ----------------------------
.x-container-attachment {
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
  padding-top: 10px;
  -webkit-border-radius: 10px;
  border-radius: 30px;
  border: 2px dashed #d6d6d6;
  color: #ccc;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}

.k-clear {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.k-button-light {
  border: none;
  background-color: #FFF;
}
