.x-chat-profile {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

   .profile-img img{
      position: relative;
      top: 0px;
      left: 0px;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      border: 1px solid #bababa;
      padding: 1px;
      border-radius: 100%;
      background-color: #fff;
   }
}